# Working with Data: Files and Tabular Data

This comprehensive notebook covers working with files and CSV data in Python, including reading/writing files, data manipulation with pandas, and leveraging AI tools for data analysis.

## Part 1: Working with Files

In Python, it's extremely simple to work with files like .txt or .md files. Let's explore file operations and how to leverage them for powerful workflows.

In [1]:
import sys
sys.path.append('../../scripts')
from ai_tools import ask_ai
from IPython.display import Markdown

### Reading Files

In [2]:
# To open a file
with open("./file.txt", "r") as f:
    data = f.read()

print(data)

this is a sample filethis is an append to my filernew datanew datanew data

### Creating and Writing Files

We can also create files easily in Python:

In [5]:
content = "Lucas is teaching python basics!"
with open("summary-notes.txt", "w") as f:
    f.write(content)

In [6]:
with open("./summary-notes.txt", "r") as f:
    print(f.read())

Lucas is teaching python basics!

### File Modes

Below are more examples for the different modes of reading and writing files available via the built-in `open()` method:

In [7]:
# Common file modes in Python's open() function:

# "a" - Append - Opens file for appending, creates new file if not exists
with open("summary-notes.txt", "a") as f:
    f.write("Lucas will also be teaching cool AI tricks!")

In [8]:
with open("./summary-notes.txt", "r") as f:
    print(f.read())

Lucas is teaching python basics!Lucas will also be teaching cool AI tricks!

In [9]:
# "x" - Exclusive creation - Opens for writing, fails if file exists
try:
    with open("file.txt", "x") as f:
        f.write("new file content")
except FileExistsError:
    print("File already exists!")

File already exists!

In [10]:
# "+" - Read and write mode
with open("file.txt", "r+") as f:  # Open for both reading and writing
    data = f.read()
    f.write("new data")

### Combining File Operations with AI

The cool stuff about being able to do this is that we can connect our ability of generating summaries of information with AI, along with our ability to read and write files in Python to create super powerful workflows.

For example, below we will write single sentence summaries for multiple files containing information about different papers.

In [11]:
ask_ai("Tell me about yourself in one sentence")

'I am an AI language model designed to assist with information and generate text based on user prompts.'

In [12]:
ask_ai("Write me a one paragraph story that ends with a funny twist")

'In the sleepy little town of Whimsydale, the annual pie-eating contest was the highlight of the summer festival, and this year, the reigning champion, old Mr. Jenkins, had been training rigorously with a secret pie-eating strategy he dubbed "The Great Gobble." As the contest began, townsfolk watched in awe as Jenkins devoured pies with the speed and finesse of a professional athlete. Just as he was about to take the final piece, he suddenly stopped, clutching his stomach in agony. The crowd gasped, fearing he had overdone it, but with a triumphant grin, he pulled out a tiny, intricately decorated cake from his pocket and declared, “Relax everyone, I brought my backup dessert!” Everyone burst into laughter when they realized the cake was his cat’s birthday cake—complete with catnip frosting.'

In [13]:
folder_with_papers = "../assets/papers/"
file_names = ["paper1.txt", "paper2.txt", "paper3.txt"]

In [14]:
# We know how to loop over lists of names of things
# We have this special functionality 'ask_ai' that allows us to prompt an Ai model!
# Let's combine these 2 things into a function that can summarize all the papers!

def summarize_this_paper(paper_contents):
    summary_prompt = f"Summarize this paper\n\n: {paper_contents} in a couple of sentences."
    output_summary = ask_ai(summary_prompt)
    
    return output_summary

In [18]:
paper_summaries_list = []
for file_name in file_names:
    file_path = folder_with_papers + file_name
    with open(file_path, "r") as f:
        contents_of_the_paper = f.read()
    
    paper_summary = summarize_this_paper(contents_of_the_paper)
    paper_summaries_list.append(paper_summary)

In [19]:
# Display the markdown content in the notebook
markdown_content = "# Paper Summaries\n\n"
for i, summary in enumerate(paper_summaries_list, 1):
    markdown_content += f"## Paper {i}\n\n"
    markdown_content += f"{summary}\n\n"
        
Markdown(markdown_content)

# Paper Summaries

## Paper 1

The paper "TheAgent Company: Benchmarking LLM Agents on Consequential Real World Tasks" presents TheAgentCompany, a new benchmark designed to evaluate the performance of large language model (LLM)-powered AI agents on realistic professional tasks in a simulated software company setting. The benchmark includes 175 diverse tasks across various roles, revealing that while some LLMs, particularly Claude-3.5-Sonnet, demonstrate promising results, they still face significant challenges with complex, longer tasks, particularly those that require social interaction. The findings emphasize the need for future improvements in LLM capabilities, particularly in navigating intricate user interfaces and engaging in human-like collaborations, to facilitate broader AI integration in professional environments.

## Paper 2

The paper "Automated Design of Agentic Systems" by Shengran Hu, Cong Lu, and Jeff Clune proposes a new research area called Automated Design of Agentic Systems (ADAS), which focuses on the automatic invention of powerful agentic systems by utilizing Foundation Models (FMs) to define agent designs in code. The authors introduce a novel algorithm called Meta Agent Search, which enables a meta agent to iteratively create, evaluate, and refine new agents based on an ever-growing archive of previously discovered designs. Through extensive experiments across coding, science, and math domains, the results show that the agents created by Meta Agent Search consistently outperform state-of-the-art hand-designed agents, demonstrating robustness and good transferability across different tasks. The paper highlights the potential of ADAS to streamline the creation of agentic systems while addressing efficiency and effectiveness in AI development.

## Paper 3

The paper titled "Who Validates the Validators? Aligning LLM-Assisted Evaluation of LLM Outputs with Human Preferences" by Shreya Shankar et al. presents a mixed-initiative framework called EvalGen, designed to enhance the evaluation of outputs generated by Large Language Models (LLMs). The authors highlight the problems inherent to using LLMs for evaluation, particularly their unreliability and the necessity for human validation. EvalGen assists users in generating evaluation criteria and implementing assertions while allowing for iterative feedback and alignment with user preferences.

Key features of EvalGen include:

1. **Criteria Suggestion**: The system utilizes LLMs to suggest evaluation criteria based on the user context. Users can modify these suggestions or create their own criteria.

2. **Iterative Grading Process**: Users can grade a subset of LLM outputs, with these grades guiding the selection of assertions that align better with user preferences.

3. **Criteria Drift Phenomenon**: The study identifies a phenomenon referred to as criteria drift, where users refine their evaluation criteria based on the grading process and specific outputs they observe. This iterative feedback loop suggests that criteria cannot be fully determined a priori.

4. **User Study Findings**: A qualitative study with industry practitioners supported the utility of EvalGen but also revealed challenges like difficulty in grading certain criteria and the iterative nature of refining evaluation standards.

The paper suggests that future evaluation assistants need to consider the dependency of evaluation criteria on the specific LLM outputs and to facilitate a more dynamic, user-influenced grading process. In summary, EvalGen represents a step toward better integrating human preferences in the evaluation of LLM outputs through a structured, iterative approach.

We can do similar things to extract specific information from documents, imagine you have a bunch of differently formatted invoices from which you would like to organize the information extracting things like the amounts and dates.

## Part 2: Working with Tabular Data (CSV Files)

Let's learn about CSV files that structure data into rows and columns (tabular data!). Text files are great but sometimes you need a bit more organization and structure, that's where CSV files come into play.

In [21]:
# Super popular library for working with tabular data
import pandas as pd
import sys
sys.path.append('../../scripts')
from ai_tools import ask_ai

### Reading CSV Files

Imagine you have a bunch of information about customer tickets organized in a .csv file that you would like to understand a bit more about.

In [22]:
data_customer_tickets = pd.read_csv("../assets/extracted_ticket_issues.csv")

data_customer_tickets

   customer_name                                  issue_description priority
0       Jane Doe  Customer was charged twice for the same transa...     High
1     John Smith  Customer unable to log into their account, fac...   Medium
2  Alice Johnson  Customer wants more information about product ...      Low
3      Bob Brown  Customer has not received the order yet, track...     High
4    Michael Lee  Customer wants to return a product and needs a...   Medium

The data contains 3 columns:
1. `customer_name` - names of the customers
2. `issue_description` - description of the issue they had
3. `priority` - reference to the level of priority of that task

### Filtering Data

We could use Python to get for example only the high priority issues:

In [23]:
# == indicates equivalence!
data_customer_tickets["priority"]=="High"

0     True
1    False
2    False
3     True
4    False
Name: priority, dtype: bool

In [25]:
data_customer_tickets

   customer_name                                  issue_description priority
0       Jane Doe  Customer was charged twice for the same transa...     High
1     John Smith  Customer unable to log into their account, fac...   Medium
2  Alice Johnson  Customer wants more information about product ...      Low
3      Bob Brown  Customer has not received the order yet, track...     High
4    Michael Lee  Customer wants to return a product and needs a...   Medium

In [26]:
high_priority_issues = data_customer_tickets[data_customer_tickets["priority"]=="High"]

# Now we can take a look at the issues themselves:
high_priority_issues

  customer_name                                  issue_description priority
0      Jane Doe  Customer was charged twice for the same transa...     High
3     Bob Brown  Customer has not received the order yet, track...     High

### Using AI for Data Categorization

Awesome! What we could do now is for example use our `ask_ai` tool to categorize the issues for us to help organizing the information, and then feed that back into the table:

In [27]:
categories_list = []
for issue in high_priority_issues["issue_description"]:
    print(f"Categorizing issue: {issue}")
    category = ask_ai(f"Categorize this issue in just one single word and OUTPUT ONLY THAT WORD:\n\n issue: {issue}\n category: \n")
    print(f"Category: {category}")
    categories_list.append(category)

Categorizing issue: Customer was charged twice for the same transaction.
Category: Billing
Categorizing issue: Customer has not received the order yet, tracking information shows a delay.
Category: Delay

Notice we use concepts we've learned before by looping over the issues, saving them to a list.

Now with that information in hand we can actually update the dataframe accordingly, first we create a new column in the dataframe:

In [28]:
categories_list = []
for issue in data_customer_tickets["issue_description"]:
    print(f"Categorizing issue: {issue}")
    category = ask_ai(f"Categorize this issue in just one single word and OUTPUT ONLY THAT WORD:\n\n issue: {issue}\n category: \n")
    print(f"Category: {category}")
    categories_list.append(category)

Categorizing issue: Customer was charged twice for the same transaction.
Category: Billing
Categorizing issue: Customer unable to log into their account, facing a password reset issue.
Category: Login
Categorizing issue: Customer wants more information about product specifications.
Category: Inquiry
Categorizing issue: Customer has not received the order yet, tracking information shows a delay.
Category: Delay
Categorizing issue: Customer wants to return a product and needs assistance with the return label.
Category: Returns

In [29]:
data_customer_tickets["issue_category"] = categories_list

In [30]:
data_customer_tickets

,customer_name,issue_description,priority,issue_category
0,Jane Doe,Customer was charged twice for the same transa...,High,Billing
1,John Smith,"Customer unable to log into their account, fac...",Medium,Login
2,Alice Johnson,Customer wants more information about product ...,Low,Inquiry
3,Bob Brown,"Customer has not received the order yet, track...",High,Delay
4,Michael Lee,Customer wants to return a product and needs a...,Medium,Returns

## Creating and Managing Structured Data

Besides analysing data, we can also create our own tables with information we care about.

Let's start with a practical example - creating a camping trip gear checklist:

In [14]:
# Create a camping gear checklist
camping_gear = {
    "item": [
        "Tent", "Sleeping Bag", "Backpack", "Hiking Boots",
        "Water Filter", "First Aid Kit", "Headlamp", "Camp Stove"
    ],
    "priority": [
        "Essential", "Essential", "Essential", "Essential",
        "High", "Essential", "High", "Medium"
    ],
    "estimated_cost": [
        299.99, 149.99, 199.99, 159.99,
        89.99, 49.99, 39.99, 79.99
    ],
    "packed": [
        False, False, False, False,
        False, False, False, False
    ]
}

# Convert to DataFrame
gear_df = pd.DataFrame(camping_gear)
print("Camping Gear Checklist:")
display(gear_df)

Camping Gear Checklist:

            item   priority  estimated_cost  packed
0           Tent  Essential          299.99   False
1   Sleeping Bag  Essential          149.99   False
2       Backpack  Essential          199.99   False
3   Hiking Boots  Essential          159.99   False
4   Water Filter       High           89.99   False
5  First Aid Kit  Essential           49.99   False
6       Headlamp       High           39.99   False
7     Camp Stove     Medium           79.99   False

### Working with Data Filters

Let's demonstrate how to filter and analyze our data:

In [15]:
def analyze_gear_requirements():
    # Filter essential items
    essential_gear = gear_df[gear_df['priority'] == 'Essential']
    
    # Calculate total cost of essential items
    essential_cost = essential_gear['estimated_cost'].sum()
    
    # Get unpacked essential items
    unpacked_essential = essential_gear[~essential_gear['packed']]
    
    print(f"Total cost of essential gear: ${essential_cost:.2f}")
    print("\nUnpacked essential items:")
    display(unpacked_essential[['item', 'estimated_cost']])

analyze_gear_requirements()

Total cost of essential gear: $859.95

Unpacked essential items:

            item  estimated_cost
0           Tent          299.99
1   Sleeping Bag          149.99
2       Backpack          199.99
3   Hiking Boots          159.99
5  First Aid Kit           49.99

### Creating a Trip Itinerary

Let's create a more complex example with a detailed trip itinerary:

In [16]:
def create_trip_itinerary():
    itinerary_data = {
        'day': range(1, 6),
        'date': pd.date_range('2024-06-01', periods=5),
        'activity': [
            'Arrival and Camp Setup',
            'Mountain Trail Hike',
            'Lake Exploration',
            'Forest Adventure',
            'Pack and Departure'
        ],
        'location': [
            'Basecamp Area',
            'Mountain Ridge Trail',
            'Crystal Lake',
            'Ancient Forest',
            'Basecamp Area'
        ],
        'distance_km': [2, 8, 5, 6, 2],
        'difficulty': [
            'Easy',
            'Hard',
            'Moderate',
            'Moderate',
            'Easy'
        ]
    }
    
    itinerary_df = pd.DataFrame(itinerary_data)
    return itinerary_df

# Create and display the itinerary
trip_itinerary = create_trip_itinerary()
print("Trip Itinerary:")
display(trip_itinerary)

Trip Itinerary:

,day,date,activity,location,distance_km,difficulty
0,1,2024-06-01,Arrival and Camp Setup,Basecamp Area,2,Easy
1,2,2024-06-02,Mountain Trail Hike,Mountain Ridge Trail,8,Hard
2,3,2024-06-03,Lake Exploration,Crystal Lake,5,Moderate
3,4,2024-06-04,Forest Adventure,Ancient Forest,6,Moderate
4,5,2024-06-05,Pack and Departure,Basecamp Area,2,Easy

### Analyzing Trip Statistics

Let's add some analysis to our trip planning:

In [17]:
def analyze_trip_metrics(itinerary_df):
    # Calculate total distance
    total_distance = itinerary_df['distance_km'].sum()
    
    # Get difficulty breakdown
    difficulty_counts = itinerary_df['difficulty'].value_counts()
    
    # Find longest day
    longest_day = itinerary_df.loc[itinerary_df['distance_km'].idxmax()]
    
    print(f"Trip Analysis:")
    print(f"Total distance: {total_distance} km")
    print("\nDifficulty breakdown:")
    display(difficulty_counts)
    print(f"\nLongest day: Day {longest_day['day']} - {longest_day['activity']}")
    print(f"Distance: {longest_day['distance_km']} km")

analyze_trip_metrics(trip_itinerary)

Trip Analysis:
Total distance: 23 km

Difficulty breakdown:

difficulty
Easy        2
Moderate    2
Hard        1
Name: count, dtype: int64

Longest day: Day 2 - Mountain Trail Hike
Distance: 8 km

### Exporting and Saving Data

Let's see how to save our data for later use:

In [18]:
def export_trip_data(gear_df, itinerary_df, filename_prefix):
    # Export to CSV
    gear_df.to_csv(f"{filename_prefix}_gear.csv", index=False)
    itinerary_df.to_csv(f"{filename_prefix}_itinerary.csv", index=False)
    print(f"Data exported to {filename_prefix}_gear.csv and {filename_prefix}_itinerary.csv")

# Export our data
export_trip_data(gear_df, trip_itinerary, "camping_trip")

Data exported to camping_trip_gear.csv and camping_trip_itinerary.csv

### Practical Exercise: Trip Budget Calculator

Let's create a budget calculator for our trip:

In [19]:
def calculate_trip_budget(gear_df, itinerary_df):
    # Equipment costs
    total_gear_cost = gear_df['estimated_cost'].sum()
    
    # Daily expenses (example values)
    daily_expenses = {
        'food': 30,
        'fuel': 10,
        'miscellaneous': 15
    }
    
    num_days = len(itinerary_df)
    daily_total = sum(daily_expenses.values())
    total_daily_costs = daily_total * num_days
    
    # Create budget summary
    budget_summary = pd.DataFrame({
        'Category': ['Gear', 'Food', 'Fuel', 'Miscellaneous'],
        'Cost': [
            total_gear_cost,
            daily_expenses['food'] * num_days,
            daily_expenses['fuel'] * num_days,
            daily_expenses['miscellaneous'] * num_days
        ]
    })
    
    budget_summary['Percentage'] = (
        budget_summary['Cost'] / budget_summary['Cost'].sum() * 100
    ).round(1)
    
    return budget_summary

# Calculate and display budget
budget = calculate_trip_budget(gear_df, trip_itinerary)
print("Trip Budget Summary:")
display(budget)

Trip Budget Summary:

        Category     Cost  Percentage
0           Gear  1069.92        79.6
1           Food   150.00        11.2
2           Fuel    50.00         3.7
3  Miscellaneous    75.00         5.6

## Key Takeaways

### Working with Files
- Always use `with` statements when working with files to ensure proper closure
- Different file modes serve different purposes:
  - `"r"` for reading
  - `"w"` for writing (creates new/overwrites)
  - `"a"` for appending
  - `"r+"` for reading and writing
- Always handle potential file-related exceptions
- File operations can be combined with data processing for powerful automation
- Consider creating helper functions for common file operations

### Working with CSV and Tabular Data
- Pandas provides powerful tools for working with tabular data
- DataFrames can be filtered and analyzed in various ways
- Data can be exported to different formats (CSV, Excel)
- Structured data makes analysis and planning easier
- Always consider data types when creating DataFrames
- Use appropriate column names and data organization
- Remember to handle missing data appropriately

### Combining AI with Data Processing
- AI tools can be integrated with file and data operations for enhanced automation
- Use AI for tasks like summarization, categorization, and information extraction
- Combine traditional data processing with AI capabilities for powerful workflows

In the next lesson, we'll explore Python packages, APIs, and more advanced data processing techniques!