# Introduction to Python
## Data Types, Variables, Operations

In [3]:
# defining a variable which is of data type string
a = "Lucas"
a

'Lucas'

In [2]:
print(a)

Lucas

What kinds of data types are out there? What are the most common?
I love this question!

In [4]:
# integer number -> whole number
number = 10
# float number -> with decimals
decimal_numbers = 10.5
# Text? -> string
text_to_my_wonderful_audience = 'Can you read this text easily folks?'
# List of numbers and text in the same place?
list_numbers_and_text = [10, 2, 'some text', 1.2]
print(type(number))
print(type(decimal_numbers))
print(type(text_to_my_wonderful_audience))
print(type(list_numbers_and_text))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>

# Operations?

In [5]:
# add numbers
10 + 10

20

In [6]:
# multiply numbers 
10*10

100

In [7]:
# subtract
10-2

8

In [8]:
# divide 
10/2

5.0

## Operations with text?

In [9]:
# operations in text
sentence = 'lucas is teaching a live course on automation'
second_part_of_sentence = ' and its going super well (lol).'
# concatenate these 2 sentences together?
sentence + second_part_of_sentence

'lucas is teaching a live course on automation and its going super well (lol).'

In [10]:
sentence = 'were gonna talk about string operations'
template_text = f'Folks! Lets have a great course! Excited to talk about:{sentence}'
template_text

'Folks! Lets have a great course! Excited to talk about:were gonna talk about string operations'

In [11]:
number1 = 10
number2 = 20
result = number1 + number2
calculation_result = f'{number1} plus {number2} = {result}'
calculation_result

'10 plus 20 = 30'

In [13]:
shopping_list = [1, 2, 3]
# I want to perform some sort of transformation to this shopping list
sum(shopping_list)

6

# Exercise
# Create a script that calculates the multiple operations with different numbers and print them out in organized fashion

In [17]:
# Subtract: 6 Add: 12 Multiply: 27 Divide: 3.0 Exponent: 729
a = 9
b = 3
print(f"Subtract: {a-b}")
print(f"Add: {a+b}")
print(f"Multiply: {a*b}")
print(f"Divide: {a/b}")
print(f"Exponent: {a**b}")

Subtract: 6
Add: 12
Multiply: 27
Divide: 3.0
Exponent: 729

# Functions, Booleans, Logical Operators

In [18]:
boolean_value = True
boolean_value

True

In [19]:
type(boolean_value)

bool

In [36]:
from IPython.display import display, HTML

html = """
<style>
    .dashboard { font-family: Arial, sans-serif; padding: 10px; line-height: 1.6; }
    .section { margin-bottom: 30px; }
    h2 { color: #2c3e50; border-bottom: 2px solid #ccc; padding-bottom: 5px; }
    table { border-collapse: collapse; width: 100%; margin-top: 10px; }
    th, td { border: 1px solid #ccc; padding: 6px 12px; text-align: left; }
    th { background-color: #f0f0f0; }
    code { background-color: #f4f4f4; padding: 2px 4px; border-radius: 4px; }
    pre { background-color: #f8f8f8; padding: 10px; border-radius: 6px; }
</style>

<div class="dashboard">
    <div class="section">
        <h2>üî¢ Data Types</h2>
        <table>
            <tr><th>Type</th><th>Example</th><th>Mutable</th></tr>
            <tr><td>int</td><td><code>10</code></td><td>No</td></tr>
            <tr><td>float</td><td><code>3.14</code></td><td>No</td></tr>
            <tr><td>str</td><td><code>'hello'</code></td><td>No</td></tr>
            <tr><td>bool</td><td><code>True</code></td><td>No</td></tr>
            <tr><td>list</td><td><code>[1, 2, 3]</code></td><td>Yes</td></tr>
            <tr><td>tuple</td><td><code>(1, 2)</code></td><td>No</td></tr>
            <tr><td>dict</td><td><code>{'a': 1}</code></td><td>Yes</td></tr>
            <tr><td>set</td><td><code>{1, 2, 3}</code></td><td>Yes</td></tr>
        </table>
    </div>

    <div class="section">
        <h2>‚ûï Arithmetic Operators</h2>
        <table>
            <tr><th>Operator</th><th>Meaning</th><th>Example</th></tr>
            <tr><td>+</td><td>Addition</td><td><code>5 + 2</code></td></tr>
            <tr><td>-</td><td>Subtraction</td><td><code>5 - 2</code></td></tr>
            <tr><td>*</td><td>Multiplication</td><td><code>5 * 2</code></td></tr>
            <tr><td>/</td><td>Division</td><td><code>5 / 2</code></td></tr>
            <tr><td>//</td><td>Floor Division</td><td><code>5 // 2</code></td></tr>
            <tr><td>%</td><td>Modulus</td><td><code>5 % 2</code></td></tr>
            <tr><td>**</td><td>Exponentiation</td><td><code>5 ** 2</code></td></tr>
        </table>
    </div>

    <div class="section">
        <h2>üßÆ Comparison Operators</h2>
        <table>
            <tr><th>Operator</th><th>Meaning</th><th>Example</th></tr>
            <tr><td>==</td><td>Equal</td><td><code>3 == 3</code></td></tr>
            <tr><td>!=</td><td>Not Equal</td><td><code>3 != 2</code></td></tr>
            <tr><td>></td><td>Greater Than</td><td><code>5 > 3</code></td></tr>
            <tr><td><</td><td>Less Than</td><td><code>2 < 4</code></td></tr>
            <tr><td>>=</td><td>Greater or Equal</td><td><code>5 >= 5</code></td></tr>
            <tr><td><=</td><td>Less or Equal</td><td><code>3 <= 4</code></td></tr>
        </table>
    </div>

    <div class="section">
        <h2>üîó Logical Operators</h2>
        <table>
            <tr><th>Operator</th><th>Meaning</th><th>Example</th></tr>
            <tr><td>and</td><td>Both are True</td><td><code>True and False</code></td></tr>
            <tr><td>or</td><td>One is True</td><td><code>True or False</code></td></tr>
            <tr><td>not</td><td>Inverts</td><td><code>not True</code></td></tr>
        </table>
    </div>

    <div class="section">
        <h2>üì¶ Variables</h2>
        <p>Used to store data values. Naming rules:</p>
        <ul>
            <li>Must start with a letter or underscore</li>
            <li>Cannot start with a number</li>
            <li>Are case-sensitive</li>
        </ul>
        <pre><code>x = 10
name = "Lucas"
is_active = True</code></pre>
    </div>
</div>
"""

display(HTML(html))

# Functions

## Built in functions which are functions that work out of the box wit special keyword names

In [37]:
list_numbers = [1,2,3]

# built in function in python!
sum(list_numbers)

6

In [38]:
print()

In [39]:
len(list_numbers)

3

## Custom functions?

In [42]:
def custom_function():
    print("Hello folks!")

custom_function()

Hello folks!

In [43]:
def print_hello_to_students():
    print("Hello students")

In [44]:
print_hello_to_students()

Hello students

In [45]:
def great_friend(friend_name="John"):
    print(f"Hi! {friend_name}")

great_friend(friend_name='Lucas')

Hi! Lucas

In [46]:
import os
import shutil

def create_folder(folder_path):
    """Create a new folder if it doesn't exist."""
    if not os.path.exists(folder_path):
        os.makedirs(folder_path)
        print(f"‚úÖ Folder created: {folder_path}")
    else:
        print(f"‚ö†Ô∏è Folder already exists: {folder_path}")

def rename_file(old_name, new_name):
    """Rename a file from old_name to new_name."""
    if os.path.exists(old_name):
        os.rename(old_name, new_name)
        print(f"‚úÖ Renamed: {old_name} ‚Üí {new_name}")
    else:
        print(f"‚ùå File not found: {old_name}")

def move_file(source_path, destination_path):
    """Move a file from source to destination."""
    if os.path.exists(source_path):
        shutil.move(source_path, destination_path)
        print(f"‚úÖ Moved file to: {destination_path}")
    else:
        print(f"‚ùå Source file not found: {source_path}")

def delete_file(file_path):
    """Delete a file if it exists."""
    if os.path.exists(file_path):
        os.remove(file_path)
        print(f"üóëÔ∏è Deleted: {file_path}")
    else:
        print(f"‚ùå File not found: {file_path}")

def list_files(folder_path):
    """List all files in a folder."""
    if os.path.exists(folder_path):
        files = os.listdir(folder_path)
        print(f"üìÅ Files in {folder_path}:")
        for f in files:
            print(f" - {f}")
    else:
        print(f"‚ùå Folder not found: {folder_path}")

In [47]:
list_files("./")

üìÅ Files in ./:
 - 04-lists-and-loops.ipynb
 - 07-conditionals.ipynb
 - 06-comparators.ipynb
 - 08-working-with-files.ipynb
 - live-intro-python.ipynb
 - 05-dictionaries.ipynb
 - 02-variables.ipynb
 - .ipynb_checkpoints
 - 10-packages-and-apis.ipynb
 - 01-data-types-and-operators.ipynb
 - 09-working-with-csv.ipynb
 - 03-functions.ipynb

# Lists and Loops!?

In [48]:
def agent_master_3000(task_description):
    print("Agent doing task")
    print("Finished task")
    return f'Master Lucas, your task is done: {task_description}'

list_of_tasks = ["teach a live course", "go eat pizza", "cry about my silly course on the bathroom"]

## Loop over the tasks and use the function on each ?

In [53]:
for task in list_of_tasks:
    print(task)
    agent_master_3000(task_description=task)
    print("***")

teach a live course
Agent doing task
Finished task
***
go eat pizza
Agent doing task
Finished task
***
cry about my silly course on the bathroom
Agent doing task
Finished task
***

In [54]:
list_number_text = ["text", 1, 1.4, []]

In [55]:
list_numbers_and_text

[10, 2, 'some text', 1.2]

In [56]:
# add elements to a list?

list_nums = [1,2,3]

list_nums.append(4)

In [57]:
list_nums

[1, 2, 3, 4]

In [58]:
list_nums.remove(3)

In [59]:
list_nums

[1, 2, 4]

In [60]:
list_names = ['lucas', 'john', 'maria']

list_names.index('lucas')

0

## Combining Lists, loops into an elegant format with List comprehension!

In [62]:
list_comprehension_example_squares = [temporary_element**2 for temporary_element in range(10)]
list_comprehension_example_squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

# Exercise
## Repeat My Name
### Objective: Write a simple python function that repeats a certain input string a certain numbers of times:

In [67]:
# repeat_string("string", 3)
# string
# string
# string

# MV solution
def repeat_string(string, n): return n*string

In [68]:
repeat_string("lucas silly man", 10)

'lucas silly manlucas silly manlucas silly manlucas silly manlucas silly manlucas silly manlucas silly manlucas silly manlucas silly manlucas silly man'

In [69]:
# AN solution
def repeat_string(string, times):
    for i in range(times):
        print(string)
repeat_string("string", 3)

string
string
string

### Write a simple python function to concatenate strings together

In [74]:
# repeat_concatenate("string1", "string2", 5)
# string1string2
# string1string2
# string1string2
# string1string2
# string1string2

# MV solution 2

def repeat_concatenate(string1, string2, n):
    return "".join([string1, string2]*n)

repeat_concatenate("string1", "string2", 5)

'strin1string2strin1string2strin1string2strin1string2strin1string2'

In [75]:
# AN solution 2

def repeat_concatenate(string1, string2, times):
    for i in range(times):
        print(f'{string1}{string2}')
repeat_concatenate("string1", "string2", 5)

string1string2
string1string2
string1string2
string1string2
string1string2

In [77]:
def sw_repeat_string(strn="sam", how=5):
    num=0
    while num<how:
        print(strn)
        num+=1
sw_repeat_string("lucas", 3)

lucas
lucas
lucas

In [80]:
def jp_repeat_string(name, count):
    for x in range(count):
        print(f'{name}')
jp_repeat_string('john', 3)

john
john
john

# Dictionaries, working with TAbular Data, conditionals, writing reading files

In [82]:
dictionary = {
    "key1": "value1",
    "key2": 10,
    "key3": [1,2,3]
}

dictionary

{'key1': 'value1', 'key2': 10, 'key3': [1, 2, 3]}

In [84]:
dictionary.keys()

dict_keys(['key1', 'key2', 'key3'])

In [85]:
dictionary.values()

dict_values(['value1', 10, [1, 2, 3]])

In [86]:
dictionary.items()

dict_items([('key1', 'value1'), ('key2', 10), ('key3', [1, 2, 3])])

In [88]:
for key, value in dictionary.items():
    print(key)
    print(value)

for key in dictionary.keys():
    print(key)
    value = dictionary[key]
    print(value)

key1
value1
key2
10
key3
[1, 2, 3]
key1
value1
key2
10
key3
[1, 2, 3]

In [89]:
# Importing functionality built elsewhere to help us solve some task
import pandas as pd

In [91]:

dictionary_of_person_information = {
    "name": "Lucas",
    "age": 33,
    "email": "lucas@example.com",
    "is_student": False,
    "skills": ["Python", "AI", "Jiu-Jitsu"],
    "address": {
        "street": "123 Learning St",
        "city": "Codeville",
        "zip": "12345"
    }
}

dictionary_of_person_information

{'name': 'Lucas',
 'age': 33,
 'email': 'lucas@example.com',
 'is_student': False,
 'skills': ['Python', 'AI', 'Jiu-Jitsu'],
 'address': {'street': '123 Learning St', 'city': 'Codeville', 'zip': '12345'}}

In [92]:
import pandas as pd

places_to_visit = {
    "Japan": ["Tokyo", "Kyoto", "Osaka"],
    "Italy": ["Rome", "Florence", "Venice"],
    "Brazil": ["Rio de Janeiro", "S√£o Paulo", "Salvador"],
    "USA": ["New York", "San Francisco", "Chicago"],
    "France": ["Paris", "Nice", "Lyon"]
}

# Convert to a DataFrame
df_places = pd.DataFrame([
    {"Country": country, "City": city}
    for country, cities in places_to_visit.items()
    for city in cities
])

df_places

   Country            City
0    Japan           Tokyo
1    Japan           Kyoto
2    Japan           Osaka
3    Italy            Rome
4    Italy        Florence
5    Italy          Venice
6   Brazil  Rio de Janeiro
7   Brazil       S√£o Paulo
8   Brazil        Salvador
9      USA        New York
10     USA   San Francisco
11     USA         Chicago
12  France           Paris
13  France            Nice
14  France            Lyon

In [94]:
countries = ["Japan", "Brazil", "Italy"]
cities = ["Osaka","Sao Paulo", "Rome"]

table = pd.DataFrame({
    "Countries": countries,
    "Cities": cities
})
table

  Countries     Cities
0     Japan      Osaka
1    Brazil  Sao Paulo
2     Italy       Rome

In [95]:
table.to_csv("places_to_go.csv")

In [96]:
!ls *.csv

places_to_go.csv

# Write Read Files with Python

In [97]:
# write 

contents = "this is a sample file"
filepath = "./file_test.txt"
with open(filepath, "w") as file:
    file.write(contents)

In [98]:
!ls

01-data-types-and-operators.ipynb 08-working-with-files.ipynb
02-variables.ipynb                09-working-with-csv.ipynb
03-functions.ipynb                10-packages-and-apis.ipynb
04-lists-and-loops.ipynb          file_test.txt
05-dictionaries.ipynb             live-intro-python.ipynb
06-comparators.ipynb              places_to_go.csv
07-conditionals.ipynb

In [99]:
# append to my file

with open(filepath, "a") as file:
    file.write("this is an append to my file")

In [100]:
# reading files
with open(filepath, "r") as file:
    print(file.read())

this is a sample filethis is an append to my file

# Automate Tasks with Python & Learn Python While Doing So!

In [101]:
# Wh+at happens when we want to make decisions?

In [103]:
price = 600
budget = 500

if price>budget:
    print("I cant' buy it")
else:
    print("I can buy it!")

I cant' buy it

In [106]:
distance = 300
ability_to_walk = 200

if distance > ability_to_walk:
    print("lazy")
elif distance == ability_to_walk:
    print("I guess I can do it")
else:
    print("I can do it!")

lazy