# What have we seen so far?

Variables, data, operations...

In [1]:
variable = 10

# how do we get the type of a variable?
type(variable)

int

In [2]:
variable_str = "10"

type(variable_str)

str

In [3]:
10 + 10

20

In [5]:
result = 20 * 3
result

60

In [9]:
# Truthfullness and falsehood?

20 == 10

False

In [7]:
type(False)

bool

In [12]:
# The result of this operation is False which is stored inside the 
# bool_variable!
bool_variable = 20 == 10

bool_variable

False

In [13]:
'L' in 'Lucas'

True

In [15]:
character = 'x'

word = 'Extraordinary'

character in word

True

In [17]:
number = 1000

another_number = 300

# What is the output going to be?
number > another_number

True

# What do we do when we want to organize operations together in re-usable blocks?

We use **FUNCTIONS**!

Python has a bunch of **built-in functions**

In [20]:
name = "Lucas"
numbers = [1,2,3,4,5]

# built in function in Python to get the size of an 'iterable' which is an object
# that we can loop over
len(name)

5

In [27]:
numbers = [1,2,3]
len(numbers)

3

In [22]:
len(name)==len(numbers)

True

In [24]:
decimal_number = 1.14547945728415472332

round(decimal_number, 3)

1.145

WE want to create our own functions Lucas!!!! how do we do that???

In [25]:
def name_of_our_function():
    print("Welcome to functions!")
    print("Functions are fun!")

name_of_our_function()

Welcome to functions!
Functions are fun!

In [26]:
name_of_our_function()

Welcome to functions!
Functions are fun!

I don't care! I want something useful!

In [28]:
def calculate_stats(list_numbers):
    """
    Calculate basic statistics for a list of numbers
    """

    total_sum = sum(list_numbers)
    # Avg of any group of numbers is the total sum divided by how
    # many numbers are in the group! so Avg = total / #num of numbers
    average = total_sum / len(list_numbers)
    max_num = max(list_numbers)
    min_num = min(list_numbers)

    return [total_sum, average, max_num, min_num]

calculate_stats([1,2,3,4,5])

[15, 3.0, 5, 1]

In [30]:
def greet_couple(name1, name2):
    greeting_msg = f"Hello {name1} and {name2} and welcome to the 'Love is Kind of Blind' show!"
    return greeting_msg

greet_couple("Lucas", "Marta")

"Hello Lucas and Marta and welcome to the 'Love is Kind of Blind' show!"

In [32]:
print(greet_couple("Lucas", "Marta"))

print("Another message")

Hello Lucas and Marta and welcome to the 'Love is Kind of Blind' show!
Another message

# How do we work with lots of data in an organized way?

Quick answer is to use lists and loops!

In [34]:
list_names = ["Lucas", "Marcus", "John", "Pamela"]

for name in list_names:
    print(f"Hi! {name}")

Hi! Lucas
Hi! Marcus
Hi! John
Hi! Pamela

In [36]:
for index,name in enumerate(list_names):
    print(f"Id: {index}, person name: {name}.")

Id: 0, person name: Lucas.
Id: 1, person name: Marcus.
Id: 2, person name: John.
Id: 3, person name: Pamela.

In [37]:
list_names[0]

'Lucas'

In [38]:
list_names.index("Lucas")

0

# Dictionaries!!!!

In [40]:
phone_book = {
    "Lucas": "555-0245",
    "John" : "555-6543",
    "Dumbledore": "0900-1234"
}
phone_book

{'Lucas': '555-0245', 'John': '555-6543', 'Dumbledore': '0900-1234'}

In [41]:
phone_book.keys()

dict_keys(['Lucas', 'John', 'Dumbledore'])

In [43]:
phone_book.values()

dict_values(['555-0245', '555-6543', '0900-1234'])

In [44]:
phone_book_and_recipe_book = {
    "Lucas": "555-0245",
    "John" : "555-6543",
    "Dumbledore": "0900-1234",
    "pancake_recipe": """
    Mix flour, eggs, milk, sugar, 
    and a pinch of salt into a smooth batter, 
    pour onto a hot pan, flip when bubbles form, 
    and serve warm with your favorite topping."""
}

In [45]:
def check_study_conditions(time_of_day, is_weekend):
    """
    Determne if it's a good time to study 
    based on multiple factors like the time of day,
    your energy levels and whether or not today
    is a weekend.
    """
    # checking if its between 9AM and 8PM
    good_time = time_of_day >=9 and time_of_day <= 20

    # checking energy levels
    energy_level = int(input("What is your energy level now between 1-10?"))
    good_energy = energy_level>=6

    # should you study? 
    should_study = (good_time and good_energy) or is_weekend

    return should_study
    
check_study_conditions(10, False)

What is your energy level now between 1-10? 8

True

In [46]:
check_study_conditions(13,False)

What is your energy level now between 1-10? 4

False

# We want the ability to perform decisions! 

For that we need conditionals!

In [51]:
def greetings_based_on_time_of_day(current_time):
    if current_time<12 and current_time>=5:
        print("Good morning!")
    # else if this other scenario
    elif current_time>=12 and current_time is current_time <=18:
        print("Good afternoon")
    else:
        print("Good evening!")

    
greetings_based_on_time_of_day(4)

Good evening!

In [ ]:
file_name = "lucas_pancake_recipe.txt"

ext_txt = ".txt"

if ext_txt in file_name:
    print("Its a text file!")
else:
    print("Its not a text file!")

Let's build our first automation!!

Task prioritization system!

In [52]:
def analyse_task(task_name, deadline_days, estimated_hours):
    """
    Analyze a task and determine its priority level and handling strategy 
    """
    
    is_urgent = deadline_days <= 3
    is_big_task = estimated_hours > 4

    if is_urgent and is_big_task:
        priority_level = "Critical!!!"
    elif is_urgent and not is_big_task:
        priority_level = "Mid!"
    else:
        priority_level = "low"

    return {
    "task": task_name,
    "priority": priority_level
    }

analyse_task("Finishing intro to Python", 1, 1)

{'task': 'FInishing intro to Python', 'priority': 'Mid!'}

# How do we work with tabular data?

In [55]:
import pandas as pd

In [57]:
df = pd.read_csv("./camping_trip_gear.csv")

# dataframe! Has nothing to do with def which is 
# a special keyword in python for creating functions!
df

            item   priority  estimated_cost  packed
0           Tent  Essential          299.99   False
1   Sleeping Bag  Essential          149.99   False
2       Backpack  Essential          199.99   False
3   Hiking Boots  Essential          159.99   False
4   Water Filter       High           89.99   False
5  First Aid Kit  Essential           49.99   False
6       Headlamp       High           39.99   False
7     Camp Stove     Medium           79.99   False

How would I estimated the total cost of the all of the items?

In [58]:
df["item"]

0             Tent
1     Sleeping Bag
2         Backpack
3     Hiking Boots
4     Water Filter
5    First Aid Kit
6         Headlamp
7       Camp Stove
Name: item, dtype: object

In [59]:
df.head()

           item   priority  estimated_cost  packed
0          Tent  Essential          299.99   False
1  Sleeping Bag  Essential          149.99   False
2      Backpack  Essential          199.99   False
3  Hiking Boots  Essential          159.99   False
4  Water Filter       High           89.99   False

In [62]:
df['estimated_cost']

0    299.99
1    149.99
2    199.99
3    159.99
4     89.99
5     49.99
6     39.99
7     79.99
Name: estimated_cost, dtype: float64

In [64]:
for number in df['estimated_cost']:
    print(number)
    print(type(number))

299.99
<class 'float'>
149.99
<class 'float'>
199.99
<class 'float'>
159.99
<class 'float'>
89.99
<class 'float'>
49.99
<class 'float'>
39.99
<class 'float'>
79.99
<class 'float'>

In [65]:
# let's calculate the total of estimated cost for all items

total_item_cost = 0
for item_cost in df['estimated_cost']:
    total_item_cost = total_item_cost+item_cost

print(total_item_cost)

1069.92

In [66]:
def calculate_total_item_cost(df):
    total_item_cost = 0
    for item_cost in df['estimated_cost']:
        total_item_cost = total_item_cost+item_cost

    return total_item_cost

In [67]:
df

            item   priority  estimated_cost  packed
0           Tent  Essential          299.99   False
1   Sleeping Bag  Essential          149.99   False
2       Backpack  Essential          199.99   False
3   Hiking Boots  Essential          159.99   False
4   Water Filter       High           89.99   False
5  First Aid Kit  Essential           49.99   False
6       Headlamp       High           39.99   False
7     Camp Stove     Medium           79.99   False

In [68]:
calculate_total_item_cost(df)

1069.92

# Working with Files!

In [ ]:
Let's go to notebook number 02!!!