# Data Types

In [1]:
# strings
"this is a string because its enclosed by double quotes!"

'this is a string because its enclosed by double quotes!'

In [2]:
'strings can also be enclosed by single quotes!'

'strings can also be enclosed by single quotes!'

In [3]:
# type is a special function in python that tells us the type of any data in Python!
type("Lucas is an instructor")

str

In [4]:
type(10)

int

In [5]:
type(1.2)

float

# Operations!

In [6]:
# basic arithmetics!
10/2

5.0

In [7]:
# division
20.0 / 3

6.666666666666667

In [9]:
# multiplication
10*3

30

In [10]:
# addition
10 + 20

30

In [11]:
# subtraction
20 - 10

10

In [12]:
# special operations
# modulus := 17 / 5 = 3*5 + 2
17%5

2

In [13]:
# floor division
17//5 # returns the 3 because 17 = 3*5+2

3

In [14]:
# Exponentiation?
3**2 # 3 * 3 = 9

9

## Operations on Strings!

In [16]:
"Hello" + " my name is Lucas."

'Hello my name is Lucas.'

In [17]:
# could we add a string to a number?
"lucas is bald and gorgeous" + 100

TypeError: can only concatenate str (not "int") to str

# THE MOST IMPORTANT OPERATION ON STRING THAT YOU WILL EVER LEARN EVER!!!!!

## STRING FORMATTING!!!

In [18]:
# variable assigned to a string named: "Mars"
planet = "Mars"

In [19]:
distance = 225.0
distance

225.0

In [20]:
message = f"The distance to {planet} is approximately {distance} million kilometers"
message

'The distance to Mars is approximately 225.0 million kilometers'

In [22]:
instructor_name = "George"
title_course = "Building robots"
welcome_message = f"What up folks my name is {instructor_name} and I want to welcome you to this course titled: {title_course}"
welcome_message

'What up folks my name is George and I want to welcome you to this course titled: Building robots'

In [23]:
# examplme of how we'll use string formatting in practice
# file_path = "./fake-location-path.pdf
# prompt_template = f"Summarize this pdf located here: {file_path}"
# ai(prompt_template)

# Variables!

In [24]:
# a little container for data, think of it like a little labeled box where you can store different types of information!

In [29]:
message = 'Hello, Python is awesome!'

number = 23

print(message)

print(number)

Hello, Python is awesome!
23

In [30]:
n_1 = 10
n_2 = 20
add_operation = n_1 + n_2
add_operation

30

In [31]:

course_title = "Python AI goodies"
topic = "automation scripts with AI and Python"
multiplier_automator = 100
printed_outputs = f"""
This course: {course_title} is about: {topic} and
will make you a {multiplier_automator} automator!
"""
printed_outputs

'\nThis course: Python AI goodies is about: automation scripts with AI and Python and\nwill make you a 100 automator!\n'

In [36]:
# to remove things from a string we could use a method inside the string
# Data types have methods for each!
print(f"Before:")
printed_outputs

Before:

'\nThis course: Python AI goodies is about: automation scripts with AI and Python and\nwill make you a 100 automator!\n'

In [37]:
print("After")
printed_outputs.strip("\n")

After

'This course: Python AI goodies is about: automation scripts with AI and Python and\nwill make you a 100 automator!'

In [38]:
# to make words bigger we can use .upper() method!
'lucas'

'lucas'

In [39]:
'lucas'.upper()

'LUCAS'

# Time Travel Calculator Exercise!

- Ask the user for their current age (integer).

- Ask how many years into the future they want to travel (integer).

- Calculate and print their future age using f-strings.

üìù Example output:

You are 33 years old now.

In 20 years, you will be 53 years old!

# RM Submission

In [41]:
# input is for taking input from the user when we run the code!
age = input('Enter your age :')
future = input('Enter the years you want to travel as a number :')
age = int(age)
future = int(future)
print(f'Your are {age} years old now and in {future} you will be {age+future} years old')

Enter your age : 10
Enter the years you want to travel as a number : 20

Your are 10 years old now and in 20 you will be 30 years old

## Part 3: Functions

Functions are essential building blocks that help us organize code, make it reusable, and break down complex problems into manageable pieces.

In [44]:
# I want to turn this piece of code into a reusable block! How do we do that?

def time_travel_calculator_from_awesome_student():
    age = input('Enter your age :')
    future = input('Enter the years you want to travel as a number :')
    age = int(age)
    future = int(future)
    print(f'Your are {age} years old now and in {future} you will be {age+future} years old')

time_travel_calculator_from_awesome_student()

Enter your age : 34
Enter the years you want to travel as a number : 6

Your are 34 years old now and in 6 you will be 40 years old

In [45]:
def time_travel_calculator_with_parameters(age, future_years):
    """
    Function declaration (piece of string that explains what the function does)
    """
    future_age = age + future_years
    print(f"Your age {age} years old now and in {future_years} you will be {future_age} years old")

# calling the function
time_travel_calculator_with_parameters(age=10, future_years=20)

Your age 10 years old now and in 20 you will be 30 years old

In [47]:
# a function that returns information
def calculate_multiplication_on_3_numbers(num1, num2, num3):
    """calculates a sum of 3 numbers"""
    return num1+num2+num3 # makes sure the function RETURNs an output!

output = calculate_multiplication_on_3_numbers(1,2,3) # here I'm not specifying the names because it's not necessary unless the parameters are super different
output

6